body {
    align-self: center;
   
}
.header {
    font-stretch: 50px;
    font-size: 300%;
}
.top-pic {
  width: 40%;
  border: black solid 20px;
  margin: 0 auto;
}
.mid-pic {
margin: 0 auto;
width: 40%;
border: rgb(150, 108, 31) solid 20px;
}
.font {
    font-size: 30px;
    margin: 0 auto;
}
.button {
}
.row {
    display: flex;
    text-align: left;
    margin: 0 auto;
    margin-inline: 0;
}
@media and screen (min-width: 1135px) {
.font { 
    font-size: xlarge;
}